@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #020f45b3 0%, #0c101644 100%);
    box-shadow: #132a53 0 16px 14px 0;
    padding: 18px 24px;
    max-width: 100%; /* Ensures the card uses available width */
    flex-basis: 300px; /* Base size for each card */
    flex-grow: 1; /* Allows cards to grow to fill available space */
    box-sizing: border-box; /* Ensures padding and border are included in the total width and height */
}

.title {
    font-size: 20px;
    font-weight: 700;
}

.description {
    font-size: 15px;
    font-weight: 400;
    margin-top: 6px;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill {
    font-size: 15px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 2px 22px;
}
