:root{
    /*color*/
    --color-text: #fff;
    --color-primary:#0f3264;
    --color-secondary:#19366d77;
    --color-dark:#0b2447;
    --color-bg:#3c6198;

    /*fonts*/
    --font-robot:"Roboto";

}